<div class="container mt-5">
<h1 class="text-center mb-4">Listes des commandes</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Cout</th>
      <th scope="col">Pret</th>
      <th scope="col">Annuler</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Non</td>
      <td>
        <button class="btn btn-danger">Annuler</button>
      </td>
    </tr>

  </tbody>
</table>
</div>
