<div class="row">
  <div class="col-md-4">Mardi</div>
  <h2 class="col-md-8">Plat du jour</h2>
</div>

<div class="espace15"></div>
<div class="container-fluid">

<div class="row">

    <div class="col-md-12">

      <div class="row">
        <div class="col-md-6">
          <div class="row align-content-between h-100">
            Croissant bonbon gummies. Pie cake brownie jelly beans. Tart tart powder brownie lemon drops topping topping candy brownie. Chupa chups sugar plum lollipop jelly. Pie tiramisu gummies. Danish cookie liquorice sesame snaps dragée chocolate tiramisu jelly beans topping. Fruitcake donut dragée bonbon apple pie jelly beans cotton candy. Bear claw soufflé bonbon. Tiramisu cookie tiramisu pudding jelly-o tiramisu bear claw candy canes toffee. Tootsie roll marshmallow chocolate cake tootsie roll. Macaroon bonbon sweet roll chupa chups oat cake pastry cookie. Gingerbread icing jelly-o danish pudding cupcake. Dessert gingerbread sweet pie. Cake croissant croissant marshmallow brownie chocolate bar carrot cake cookie.
            <div class="row w-100">
              <div class="col-md-6 price">Prix : <strong>30&euro;</strong></div>
              <div class="col-md-6 text-right"> <a href="#" class="w-100 btn btn-primary">Commander</a></div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
            <img src="https://picsum.photos/600/400" class="w-100 img" alt="menu">
        </div>

      </div>
    </div>

</div>

<br />

</div>
<h2 class="text-center">Plat de la semaine</h2>
<div class="row mx-0">
  <div class="col-md-3">
    <a href="#">
    <img src="https://static.cuisineaz.com/400x320/i33528-riz-au-curry.jpg" class="w-100 img-bottom" alt="menu" style="width:200px;height:200px;">
    <div class="text-center">Riz au curry</div></a>
    <div class="text-center">Prix : <strong>10.50&euro;</strong></div>
  </div>
  <div class="col-md-3">
    <a href="#">
    <img src="https://www.regal.fr/sites/art-de-vivre/files/pennes-saumon-creme_istock.jpg" class="w-100 img-bottom" alt="menu" style="width:200px;height:200px;">
    <div class="text-center">Pennes aux saumons</div></a>
    <div class="text-center">Prix : <strong>30&euro;</strong></div>
  </div>
  <div class="col-md-3">
    <a href="#">
    <img src="https://d9hyo6bif16lx.cloudfront.net/live/img/production/detail/menu/lunch-dinner_burgers_all-american-burger.jpg" class="w-100 img-bottom" alt="menu" style="width:200px;height:200px;">
    <div class="text-center">Burger + frites</div></a>
    <div class="text-center">Prix : <strong>11&euro;</strong></div>
  </div>
  <div class="col-md-3">
    <a href="#">
    <img src="https://static.cuisineaz.com/400x320/i96018-pizza-reine.jpg" class="w-100 img-bottom" alt="menu" style="width:200px;height:200px;">
    <div class="text-center">Pizza</div></a>
    <div class="text-center">Prix : <strong>16&euro;</strong></div>
  </div>
</div> 


