
.card {
    box-shadow: 0 4px 8px 0 ;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 50px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #555;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }