<h2 class="text-center mt-5 mb-4">Product Card</h2>
<div class="container">
  <div class="card-columns">

    <div class="card box" >
      <img src="assets/deser1.jpg" alt="Denim Jeans" style="width:100%">
      <h1>Tailored Jeans</h1>
      <p class="price">$19.99</p>
      <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
      <p><button>Add to Cart</button></p>
    </div>
   
    <div class="card box">
     <img src="assets/deser2.jpg" alt="Denim Jeans" style="width:100%">
     <h1>Tailored Jeans</h1>
     <p class="price">$19.99</p>
     <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
     <p><button>Add to Cart</button></p>
   </div>

   <div class="card box">
    <img src="assets/deser2.jpg" alt="Denim Jeans" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
    <p><button>Add to Cart</button></p>
  </div>

  </div>
</div> 