<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="navbar">
    <a class="active"  onclick="openNav()"><i class="fa fa-fw fa-reorder"></i>   </a> 
    <a [routerLink]="['/main']"><i class="fa fa-fw fa-cutlery"></i>Les plats</a> 
    <a [routerLink]="['/extra']"><i class="fa fa-fw fa-plus-square"></i> Extra</a> 
    <span style="color:lawngreen"><i class="fa fa-fw fa-money"></i> 200&euro;</span>
    <div class="navbar-right">
      <div class="hide-login">
        <a onclick="document.getElementById('login_id').style.display='block'"><i class="fa fa-fw fa-user"></i> Login</a>
        <a  onclick="document.getElementById('Register_id').style.display='block'"><i class="fa fa-fw fa-user"></i> Register</a>
      </div>
     </div>
  </div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a [routerLink]="['/cantiniere']">Cantiniere</a>
  <a href="#">Services</a>
  <a href="#">Clients
    <a href="#">Portfeuille</a>
  </a>
  <a [routerLink]="['/commande']">Command
    <a href="#">Add / Modify</a>
  </a>
  <div class="hide-login-2">
    <a onclick="document.getElementById('login_id').style.display='block'"><i class="fa fa-fw fa-user"></i> Login</a>
    <a  onclick="document.getElementById('Register_id').style.display='block'"><i class="fa fa-fw fa-user"></i> Register</a>
  </div>
</div>

<div id="login_id" class="modal">
  
    <form class="modal-content animate" action="/action_page.php">
      <div class="imgcontainer">
        <span onclick="document.getElementById('login_id').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="assets/img_avatar.png" alt="Avatar" class="avatar">
      </div>
  
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
          
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('login_id').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
 </div>

 <div id="Register_id" class="modal">
  <span onclick="document.getElementById('Register_id').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('Register_id').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>
