<div class="container">
	<div class="row">
		<h2 class="text-center">Ajouter Des Plates</h2>
	</div>
    <form action="#">
        <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-group-sm">
                        <label for="PlatName" class="control-label">Nom du plat</label>
                        <input type="text" class="form-control" id="PlatName">
                    </div>
                </div>

        </div>
        <div class="row">
            <label for="PlatDescription" class="control-label">Description</label>
             <div class="col-xs-3">
                    <textarea class="form-control"></textarea>
                </div>
        </div>
        <div class="row">
             <div class="col-xs-3">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
        </div>
    </form>



</div>